<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File"
      layout="${date:format=HH\:mm\:ss} | ${level:uppercase=true:padding=-5:fixedLength=true} | ${logger:padding=-27:fixedLength=true} | ${message}"
      fileName="${basedir}/Logs/log.txt"
      archiveAboveSize="1048576"
      archiveFileName="${basedir}/Logs/archive.{#}.txt"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      maxArchiveFiles="7"
      concurrentWrites="true"
    />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>
